header {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		margin: 0 auto;
		font-size: 2rem;
		padding-bottom: 0.3rem;
		font-variant: small-caps;
	}
	nav {
		display: flex;

		a {
			margin: 0 auto;
			.back-btn {
				font-size: 0.8rem;
				padding: 0.1rem 0.3rem;
				background-color: $buttoncolor;
				border-radius: 5px;
				color: $buttontext;
				border: none;
				box-shadow: 0px 1px 3px #5e8873;
			}
		}
		form {
			margin: 0 auto;
			input {
				width: 371px;
				font-size: 0.8rem;
				border-radius: 5px;
				background-color: $cardcolor;
				color: black;
				text-align: center;
			}
			button {
				font-size: 0.8rem;
				padding: 0.1rem 0.3rem;
				background-color: $buttoncolor;
				border-radius: 5px;
				margin-left: 10px;
				color: $buttontext;
				border: none;
				box-shadow: 0px 1px 3px #5e8873;

				&:hover {
					background-color: $hovercolor;
					text-decoration: underline;
					color: $fontcolor;
				}
			}
		}
	}
}

.fa-film {
	font-size: 1.85rem;
	color: $hovercolor;
}

#alert {
	text-align: center;
	font-weight: 800;
}
