@import "colors";
@import "moviecard";
@import "footer";
@import "header";
@import "moviepage";


  @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Quicksand&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-size: 0.7rem;
}

body {
	
    font-family: "Dosis", Arial, Helvetica, sans-serif;
    background-color: $backgroundcolor;
    color: $fontcolor
}

html {
	font-size: calc(1em + 1vw);
} 

@media (max-width: 768px){
    main{
        article{
            flex-direction: column;
        }
    }
}


