@import "moviecard";
@import "footer";
@import "header";



body {
	
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f0f13;
    color: #f0f0f0
}

html {
	font-size: calc(1em + 1vw);
} 

@media (max-width: 768px){
    main{
        article{
            flex-direction: column;
        }
    }
}


